@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --principal: #2196f3;
  --secundaria: #16a34a;
  --escura: #2e2e2e;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f6f6f6;
}

@layer components {
  .custom-hover-btn {
    @apply flex h-10 w-32 items-center justify-center rounded-md bg-principal p-2 text-center font-bold text-white;
  }
  .custom-hover-btn:hover {
    @apply scale-105 cursor-pointer bg-escura text-principal transition;
  }
  .custom-hover-btn:active {
    @apply opacity-80;
  }

  .sombra {
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  }

  .custom-ItemNavHeader {
    @apply px-4 py-2 font-bold;
  }

  .custom-ItemNavHeader:hover {
    @apply scale-105 rounded-md bg-principal text-white transition;
  }
}
